{% extends "master.html" %}
{% block title %} Float {{float_id}} {% endblock %}
{% block head %}
    <style>
    #wrap {
      width: 1024px;
      margin: 0 auto;
    }
    .metadata {
      font-size: 10pt;
      float: left;
      width: 220px;
    }
    .map {
      float: right;
      width: 800px;
      height: 600px;
      background-color: #b5d0d0;
    }
    .footer {
      clear: both;
      text-align: center;
    }
    </style>
{% endblock %}
{% block body %}
    <h2>Float {{float_id}}</h2>
    <div id="wrap">
      <div id="metadata" class="metadata">
        <dl>
          {% for k in metadata_cols %}
          <dt>{{k}}</dt>
          <dd>{{metadata[k]}}</dd>
          {% endfor %}
        </dl> 
      </div>
      <div id="map" class="map"></div>
    </div>
    <div class="footer">footer <a href="/random_float">random</a></div>
    <script type="text/javascript">
var map = create_map('map');
var overlay = create_overlay(map, '#ffcc33');
map.getView().setCenter(ol.proj.transform
  ([{{metadata['1st_LON']}}, {{metadata['1st_LAT']}}], 'EPSG:4326', 'EPSG:3857'));
draw_track({{float_id}},overlay);
    </script>
{% endblock %}
