{% extends "master.html" %}
{% block title %} Float {{float_id}} {% endblock %}
{% block head %}
    <style>
    .map {
      height: 100%;
      width: 100%;
      background-color: #b5d0d0;
    }
    </style>
{% endblock %}
{% block body %}
    <h2>Float {{float_id}}</h>
    <div id="metadata"></div>
    <div id="map" class="map"></div>
    <script type="text/javascript">
var map = create_map('map');
var overlay = create_overlay(map);
$.getJSON('/metadata/{{float_id}}', function(r) {
    $('#metadata').html('<pre>'+JSON.stringify(r)+'</pre>');
    map.getView().setCenter(ol.proj.transform
       ([r.START_LON, r.START_LAT], 'EPSG:4326', 'EPSG:3857'));
});
draw_track({{float_id}},overlay);
    </script>
{% endblock %}

