{% extends "master.html" %}
{% block title %} Float data subsetting tool {% endblock %}
{% block head %}
    <style>
    .map {
      height: 100%;
      width: 100%;
      background-color: #b5d0d0;
    }
    </style>
{% endblock %}
{% block body %}
    <h2>Float data subsetting tool</h2>
    <div id="help">Set low and high pressures (mbar), start and end dates, shift-drag to select search polygon</div>
    <div id="pressureSlider"></div>
    <div id="dateSlider"></div>
    <div>
      Select experiment: <select id="experimentMenu"></select>
      <button id="searchButton">Search</button>
      <span id="download"></span>
    </div>
    <div id="map" class="map"></div>
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript"></script>
{% endblock %}
