{% extends "master.html" %}
{% block title %} Float data subsetting tool {% endblock %}
{% block head %}
    <style>
    .map {
      height: 100%;
      width: 100%;
      background-color: #b5d0d0;
    }
    </style>
{% endblock %}
{% block body %}
    <h2>Float data subsetting tool</h2>
    <div id="help">Enter low and high pressures (mbar), Shift-drag to select geographic bounding box</div>
    <div id="pressure">
      Pressure: Low <input id="low_pressure" type="text" value="0"> High <input id="high_pressure" type="text" value="9999">
    </div>
    <div id="download"></div>
    <div id="map" class="map"></div>
    <script src="../static/index.js" type="text/javascript"></script>
{% endblock %}
